<div>
    <h1>Dashboard</h1>
    <div>
        <label for="start">Start Date:</label>
        <input (change)="update()" [(ngModel)]="startDate" id="start" name="start" required type="date"/>

        <label for="end">End Date:</label>
        <input (change)="update()" [(ngModel)]="endDate" id="end" name="end" required type="date"/>
    </div>


    <button (click)="logx()" mat-button>Log X</button>
    <div [options]="balance_chart" (chartInit)="balanceLegendListener($event)" class="chart" echarts></div>
    <div [options]="category_expense_chart" (chartInit)="categoryLegendListener($event)" class="chart" echarts></div>
    <div [options]="account_income_chart" class="chart" echarts></div>
    <!--<div [options]="history_chart" class="chart" echarts></div>-->
</div>
