<div *ngIf="!(category || addingCategory)">
    <ag-grid-angular
        style="height: 550px"
        class="ag-theme-alpine"
        [rowData]="categories"
        (rowClicked)="onRowClicked($event)"
        [columnDefs]="columnDefs"
        [pagination]="true"
        [paginationPageSizeSelector]="[10, 20, 50]"
        [paginationPageSize]="10"
        [domLayout]="'normal'"
    />
    <button (click)="onAdd()">Add Category</button>
</div>

<div *ngIf="addingCategory">
    <h3>Add Category</h3>
    <form (ngSubmit)="onSave()">
        <div>
            <label for="add_name">Name</label>
            <input [(ngModel)]="category!.name" id="add_name" name="add_name" placeholder="Enter the category name"
                   required type="text"/>
        </div>

        <button type="submit">Save</button>
    </form>

    <button (click)="reset()">Back</button>

    <p *ngIf="statusMessage != ''" class="status-message">{{ statusMessage }}</p>
</div>

<div *ngIf="!addingCategory && category">
    <h3>Edit Category: {{ categoryName }}</h3>
    <form (ngSubmit)="onUpdate()">
        <div>
            <label for="name">Name</label>
            <input [(ngModel)]="category.name" id="name" name="name" required type="text"/>
        </div>

        <button type="submit">Update</button>
    </form>

    <button (click)="reset()">Back</button>
    <button (click)="onDelete()">Delete Category</button>

    <p *ngIf="statusMessage != ''" class="status-message">{{ statusMessage }}</p>
</div>
