<div *ngIf="!(transfer || addingTransfer)">
    <ag-grid-angular
        style="height: 550px"
        class="ag-theme-alpine"
        [rowData]="transfers"
        (rowClicked)="onRowClicked($event)"
        [columnDefs]="columnDefs"
        [pagination]="true"
        [paginationPageSizeSelector]="[10, 20, 50]"
        [paginationPageSize]="10"
        [domLayout]="'normal'"
    />
    <button (click)="onAdd()">Add Transfer</button>
</div>

<div *ngIf="addingTransfer">
    <h3>Add Transfer</h3>
    <form (ngSubmit)="onSave()">
        <div>
            <label for="add_date">Date</label>
            <input [(ngModel)]="transfer!.date" id="add_date" name="date" required type="date"/>
        </div>
        <div>
            <label for="add_amount">Amount</label>
            <input [(ngModel)]="transfer!.amount" id="add_amount" name="amount" required type="number"/>
        </div>
        <div>
            <label for="add_source">Source</label>
            <select [(ngModel)]="transfer!.source" id="add_source" name="source" required>
                <option *ngFor="let account of accounts" [ngValue]="account">
                    {{ account.name }}
                </option>
            </select>
        </div>
        <div>
            <label for="add_target">Target</label>
            <select [(ngModel)]="transfer!.target" id="add_target" name="target" required>
                <option *ngFor="let account of accounts" [ngValue]="account">
                    {{ account.name }}
                </option>
            </select>
        </div>

        <button type="submit">Save</button>
    </form>

    <button (click)="reset()">Back</button>

    <p *ngIf="statusMessage != ''" class="status-message">{{ statusMessage }}</p>
</div>

<div *ngIf="!addingTransfer && transfer">
    <h3>Edit Transfer</h3>
    <form (ngSubmit)="onUpdate()">
        <div>
            <label for="date">Date</label>
            <input [(ngModel)]="transfer!.date" id="date" name="date" required type="date"/>
        </div>
        <div>
            <label for="amount">Amount</label>
            <input [(ngModel)]="transfer!.amount" id="amount" name="amount" required type="number"/>
        </div>
        <div>
            <label for="source">Source</label>
            <select [(ngModel)]="transfer!.source" id="source" name="source" required>
                <option *ngFor="let account of accounts" [ngValue]="account">
                    {{ account.name }}
                </option>
            </select>
        </div>
        <div>
            <label for="target">Target</label>
            <select [(ngModel)]="transfer!.target" id="target" name="target" required>
                <option *ngFor="let account of accounts" [ngValue]="account">
                    {{ account.name }}
                </option>
            </select>
        </div>

        <button type="submit">Update</button>
    </form>

    <button (click)="reset()">Back</button>
    <button (click)="onDelete()">Delete Transfer</button>

    <p *ngIf="statusMessage != ''" class="status-message">{{ statusMessage }}</p>
</div>
