<div *ngIf="authenticationService.isLoggedIn(); else loginWindow">
    <h2>Welcome!</h2>
    <p>Select an option to access the data:</p>
    <ul>
        <li><a routerLink="/banking-data">Banking Data</a></li>
        <li><a routerLink="/proximity-data">Proximity Data</a></li>
        <li><a routerLink="/accounting-data">Accounting Data</a></li>
    </ul>
</div>


<ng-template #loginWindow>
    <div class="login-container">
        <h2>Login Required</h2>
        <p>You must log in to access the data.</p>
        <app-authentication></app-authentication>
    </div>
</ng-template>
