<div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="onLogin()">
        <div class="form-group">
            <label for="username">Username</label>
            <input [(ngModel)]="username" id="username" name="username" placeholder="Enter your username" required
                   type="text"/>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input [(ngModel)]="password" id="password" name="password" placeholder="Enter your password" required
                   type="password"/>
        </div>

        <button class="login-button" type="submit">Login</button>

        <p *ngIf="statusMessage" class="status-text">{{ statusMessage }}</p>

        <!-- <div class="links"> -->
        <!--     <a routerLink="/forgot-password">Forgot Password?</a> -->
        <!--     <a routerLink="/register">Register</a> -->
        <!-- </div> -->
    </form>
</div>
