<div class="container feature-layout">
    <nav class="sidebar" aria-label="Fuel">
        <a routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">Dashboard</a>
        <a routerLink="refuels" routerLinkActive="active" ariaCurrentWhenActive="page">Refuels</a>
        <a routerLink="cars" routerLinkActive="active" ariaCurrentWhenActive="page">Cars</a>
    </nav>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>
