:root {
    --base-color: #f5f5f5;
    --base-variant: #fffef3;
    --text-color: #0f1d31;
    --secondary-text: #172549;
    --primary-color: #cbe6fd;
    --accent-color: #f6f4e7;

    --good: #84dc00;
    --bad: #d52a2a;

    --overlay: rgba(0, 0, 0, 0.04);
    --overlay-dark: rgba(0, 0, 0, 0.15);
    --overlay-darker: rgba(0, 0, 0, 0.2);
}

.dark {
    --base-color: #1d2b65;
    --base-variant: #224879;
    --text-color: #faf6d6;
    --secondary-text: #ffedd0;
    --primary-color: #497dc2;
    --accent-color: #304885;

    --good: #39b00a;
    --bad: #c50000;

    --overlay: rgba(0, 0, 0, 0.1);
    --overlay-dark: rgba(0, 0, 0, 0.2);
    --overlay-darker: rgba(0, 0, 0, 0.5);
}

* {
    margin: 0;
    padding: 0;

    font-family: "Roboto Thin", sans-serif;
    text-decoration: none;

    color: var(--text-color);
    background-color: transparent;

    transition: all 0.3s;
    scrollbar-width: none;
}

body {
    background-size: cover;
    background: linear-gradient(-40deg, var(--base-color), var(--base-variant)) no-repeat;

    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;

    min-width: 465px;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

button {
    margin: 5px;
    padding: 5px;

    background-color: var(--primary-color);

    border: 1px solid var(--overlay-darker);
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

h2 {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
}

a {
    margin: 5px;

    cursor: default;
}

a:hover {
    background-color: var(--overlay);
}

p {
    color: var(--secondary-text);
}

input {
    user-select: none;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px 0 20px 0;
}

.container {
    background-color: var(--accent-color);

    padding: 50px;

    border-radius: 20px;
}

.flex-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.status-message {
    color: var(--bad);
}

