<div *ngIf="!(expense || addingExpense)">
    <ag-grid-angular
        style="width: 100%; height: 100%;"
        class="ag-theme-alpine"
        [rowData]="expenses"
        (rowClicked)="onRowClicked($event)"
        [columnDefs]="columnDefs"
        [pagination]="true"
        [paginationPageSizeSelector]="[10, 20, 50]"
        [paginationPageSize]="10"
        [domLayout]="'autoHeight'"
        (gridReady)="onGridReady($event)"
    />
    <button (click)="onAdd()">Add Expense</button>
</div>

<div *ngIf="addingExpense">
    <h3>Add Expense</h3>
    <form (ngSubmit)="onSave()">
        <div>
            <label for="add_date">Date</label>
            <input [(ngModel)]="expense!.date" id="add_date" name="date" required type="date"/>
        </div>
        <div>
            <label for="add_reason">Reason</label>
            <input [(ngModel)]="expense!.reason" id="add_reason" name="add_reason" required type="text"/>
        </div>
        <div>
            <label for="add_amount">Amount</label>
            <input [(ngModel)]="expense!.amount" id="add_amount" name="amount" required type="number"/>
        </div>
        <div>
            <label for="add_account">Account</label>
            <select [(ngModel)]="expense!.account" id="add_account" name="add_account" required>
                <option *ngFor="let account of accounts" [ngValue]="account">
                    {{ account.name }}
                </option>
            </select>
        </div>
        <div>
            <label for="add_category">Category</label>
            <select [(ngModel)]="expense!.category" id="add_category" name="add_category" required>
                <option *ngFor="let category of categories" [ngValue]="category">
                    {{ category.name }}
                </option>
            </select>
        </div>

        <button type="submit">Save</button>
    </form>

    <button (click)="reset()">Back</button>

    <p *ngIf="statusMessage != ''" class="status-message">{{ statusMessage }}</p>
</div>

<div *ngIf="!addingExpense && expense">
    <h3>Edit Expense</h3>
    <form (ngSubmit)="onUpdate()">
        <div>
            <label for="date">Date</label>
            <input [(ngModel)]="expense!.date" id="date" name="date" required type="date"/>
        </div>
        <div>
            <label for="reason">Reason</label>
            <input [(ngModel)]="expense!.reason" id="reason" name="add_reason" required type="text"/>
        </div>
        <div>
            <label for="amount">Amount</label>
            <input [(ngModel)]="expense!.amount" id="amount" name="amount" required type="number"/>
        </div>
        <div>
            <label for="account">Account</label>
            <select [(ngModel)]="expense!.account" id="account" name="add_account" required>
                <option *ngFor="let account of accounts" [ngValue]="account">
                    {{ account.name }}
                </option>
            </select>
        </div>
        <div>
            <label for="category">Category</label>
            <select [(ngModel)]="expense!.category" id="category" name="add_category" required>
                <option *ngFor="let category of categories" [ngValue]="category">
                    {{ category.name }}
                </option>
            </select>
        </div>

        <button type="submit">Update</button>
    </form>

    <button (click)="reset()">Back</button>
    <button (click)="onDelete()">Delete Expense</button>

    <p *ngIf="statusMessage != ''" class="status-message">{{ statusMessage }}</p>
</div>
