<div>
    <h1>Dashboard</h1>
    <div>
        <label for="start">Start Date:</label>
        <input (change)="update()" [(ngModel)]="startDate" id="start" name="start" required type="date"/>

        <label for="end">End Date:</label>
        <input (change)="update()" [(ngModel)]="endDate" id="end" name="end" required type="date"/>
    </div>


    <app-chart-card [options]="travel_chart"></app-chart-card>
    <app-chart-card [options]="fuel_chart"></app-chart-card>
    <app-chart-card [options]="consumption_chart"></app-chart-card>
    <app-chart-card [options]="price_chart"></app-chart-card>
</div>
